@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ff66;
}

body {
background: radial-gradient(circle at 50% 50%, #121824 0%, #0b0f17 100%);
}

/* Custom Scrollbar for Hacker theme */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #00ff66;
  border-radius: 2px;
}
